.accordion {

    &:not(.accordion--bare) + .accordion:not(.accordion--bare) {
        margin-top: 1px;
    }
}

.accordion--active {}

    .accordion__head {

        .accordion:not(.accordion--invalid):not(.accordion--bare) & {
            padding: 10px 20px;
            cursor: pointer;
            background: $c-accordion-bg;
        }

        .accordion--invalid:not(.accordion--retain-head) & {
            display: none;
        }
    }

    .accordion__wrap {

        .accordion:not(.accordion--invalid) & {
            display: none;
        }

        .accordion:not(.accordion--invalid) & {
            display: block;
            max-height: 0;
            overflow: hidden;
        }

        .accordion--animate:not(.accordion--invalid) & {
            transition: max-height .5s ease;
        }
    }

    .accordion--active .accordion__wrap {
        display: block;

        .accordion--animate & {
            max-height: none;
        }
    }

        .accordion__body {

            .accordion:not(.accordion--invalid):not(.accordion--bare) & {
                margin-top: 1px;
                padding: 20px;
                background: $c-accordion-bg;
            }
        }
