.accordion {

    & + .accordion {
        margin-top: 1px;
    }
}

.accordion--active {}

    .accordion__head {
        padding: 10px 20px;
        cursor: pointer;
        background: $c-accordion-bg;
    }

    .accordion__wrap {
        display: none;

        .accordion--animate & {
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s ease;
        }
    }

    .accordion--active .accordion__wrap {
        display: block;

        .accordion--animate & {
            max-height: none;
        }
    }

        .accordion__body {
            margin-top: 1px;
            padding: 20px;
            background: $c-accordion-bg;
        }
